style.css



html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
margin: 0;
padding: 0;
}


body {
    font-family: "sans-serif";
}


html {
    
}


body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #B0DAFF;

    height: 200%;
    width: 100%;





}

a {
    text-decoration: none;

    list-style-type: circle;

}

.wrap {
    overflow: hidden;

}



header {
    text-align: center;
    background-color: #B9E9FC;

    height: 300px;
    width: 100%;


    float: left;

}

.nav-outline {
    font-size: 4px;

    /* margin-right: 20px auto; */

    padding: 0.5em;
    color: #494949;/*文字色*/
    background: #fffaf4;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/

    position: absolute;
    left: 20px;

    
    
}


header,.title {
    font-size: 75px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;




    
}

.title {
    display: block;

    text-align: center;

}




.navthree {
    text-align: right;
    position: absolute;
    right: 50px;
    
    font-size: 25px;

    text-align: left;



}




.navthree li:nth-child( 1 ) {


}

.navthree li:nth-child( 1 ) span {
    color: yellow;

}

.one-more {
  
}


.stu2 {
    height: 700px;
    width: 100%;
    
    position: relative;

    margin: auto;




}

#navstu {
    text-align: center;

    font-size: 24px;


}

.studentexplain {
    position: absolute;
    left: 150px;


    z-index: 1;
    

    background: blue;
    color: yellow;
    border-radius: 10px;
    opacity: 0.5;

    
}


.stuimg {
    
    border-radius: 50px 30px;


    position: absolute;
    left: 80px;
    top: 350px;

    padding: 5px;
    border: 9px solid green;
    



}



.student-me {
    position: relative;
    top: 40px;
    left: 850px;
}





.tra2 {

    margin-top: 270px;
    height: 700px;



}

.tra2 img {
    border-radius: 50px;
    
    float: right;

    border: 9px solid #00cc00;

    position: relative;
    right: 30px;

    top: 100px;


   
}





.tra2 #navtra {
    text-align: center;

    /* margin-top: 150px; */

    padding-top: 150px;

    font-size: 24px;


    
}

.tra-outline {
    text-align: left;
    position: absolute;

    bottom: -250px;
    left: 70px;

    

    
}

.rizapexplain {
    position: absolute;
    right: 80px;
    bottom: -250px;
    
    color: yellow;
    background: blue;
    opacity: 0.5;
    border-radius: 10px;

    z-index: 1;
}


.dre2 {
    height: 700px;


}

.dre2 #navdre {
    

    padding-left: 0px;

    margin-top: 25px;

    text-align: center;

    font-size: 24px;




}

.seaexplain {
    /* margin-left: 250px; */
    position: relative;
    top: 20px;
    left: 270px;
    width: 27%;
    background: blue;
    color: yellow;
    border-radius: 10px;
    opacity: 0.5;

    z-index: 1;

    
    
}

.dre2 img {
    padding: 30px 170px;
    border-radius: 9px;

    margin: 2em 2em;
    background: #d6ebff;
    border: dashed 2px white;

    position: relative;
    bottom: 70px;

    
}

.dre2ul {

    
    


}


.dre2 li {
    text-align: left;
    /* padding-left: 1100px; */
    position: relative;
    bottom: 500px;
    left: 1050px;
    /* left: 1070px; */
    list-style: inside;


    /* display: none; */





}



.dre2 li:first-child {
    color: yellow;
    font-size: 35px;

    list-style: none;

    
}




footer {
    height: 70px;

    background-color: #DAF5FF;

    display: grid;
    place-items: center;

}





/* jQUeryによって出現のコードを制作中 */
#visible {
    height: 1000px;
}

#image2 {
    display: none;
    /* その他のスタイル */
}


#image3 {
    display: none;
    /* その他のスタイル */
}





#slide-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

  
#slide-in.show {
    opacity: 0.5;
    transform: translateX(0);
}





#slide-in2 {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 1s;
}

#slide-in2.show {
    opacity: 0.5;
    transform: translateX(0);
}



#slide-in3 {

    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
   

}
  
#slide-in3.show {
    opacity: 0.5;
    transform: translateX(0); /* 現在の位置にスライド */
  
}




